<section id="home-banner" class="d-flex justify-content-center align-items-center flex-column position-relative w-100">
  <div class="z-1 container">
    <h1 class="text-light">Welcome to</h1>
    <h1 class="text-light"><b>Yale School of Art</b></h1>
    <p class="text-light col-9 col-md-7 my-3">
      The Yale School of Art is a <strong>graduate school</strong> that confers MFAs in Graphic Design,
      Painting/Printmaking, Photography, and Sculpture; and offers undergraduate-level art courses to Yale College
      students. Our website exists as an <strong>ongoing collaborative experiment</strong> in digital publishing and
      information sharing. It functions as a wiki—all members of the School of Art community have the ability to add new,
      and edit most existing content.
    </p>
    <a class="btn btn-primary fs-6" href="https://www.art.yale.edu/apply"><b>Apply now</b></a>
  </div>
</section>
