<section id="subscribe" class="d-flex justify-content-center align-items-center bg-light my-2 my-md-3 my-lg-4 py-3">
  <div class="container my-2 my-lg-3 my-lg-5">
    <h2 class="d-block mb-4 section-title position-relative mx-auto center-title"><b>Subscribe to Our Newsletter</b></h2>
    <div class="d-flex justify-content-center align-items-center bg-light my-2 my-md-3 my-lg-3">
      <input class="font-control py-2 p-lg-3 fs-6 col-8 col-lg-4 border-0" placeholder="Enter your email">
      <button class="btn btn-primary py-2 p-lg-3 col-3 col-lg-1 rounded-0 fs-6">Subscribe</button>
    </div>
  </div>
</section>

