<section id="aboutus" class="container my-3 my-xl-5">
  <h2 class="d-block mb-4 section-title position-relative"><b>Get to know us</b></h2>
  <div class="d-flex justify-content-center align-items-center h-100 flex-column flex-lg-row">
    <div class="d-flex justify-content-center align-items-start align-self-stretch col-12 col-lg-6 flex-column bg-primary border text-light p-3">
      <h3><b>Since 1869,</b></h3>
      <p class="col-11 col-md-8">The <b>Yale School of Art</b> is a graduate school that confers master of fine arts degrees in <b>graphic design</b>, <b>painting/printmaking</b>, <b>photography</b>, and <b>sculpture</b>.</p>
    </div>
    <div class="d-flex justify-content-center align-items-center col-12 col-lg-6 flex-column">
      <div class="d-flex justify-content-center align-items-start flex-column w-100 border bg-light p-3">
        <h3><b>Our belief</b></h3>
        <p class="col-11 col-md-9">Art is a fundamental force in national and international culture, and that one of the primary standards by which societies are judged is the <b>quality</b>, <b>creative freedom</b>, <b>critical insight</b>, and <b>formal and technical innovation</b> of the visual art they produce.</p>
      </div>
      <div class="d-flex justify-content-center align-items-start flex-column w-100 border bg-light p-3">
        <h3><b>Study Areas</b></h3>
        <ul class="list-inline text-center w-100 mt-4">
          <li class="list-inline-item text-center mx-4">
            <a href="#" class="text-decoration-none">
              <i class='bx bxs-graduation bx-lg' ></i>
              <p class="text-primary"><b>Gradutate<br>Study Areas</b></p>
            </a>
          </li>
          <li class="list-inline-item text-center mx-4">
            <a href="#" class="text-decoration-none">
              <i class='bx bx-certification bx-lg' ></i>
              <p class="text-primary"><b>Undergraduate<br>Studies in Art</b></p>
            </a>
          </li>
          <li class="list-inline-item text-center mx-4">
            <a href="#" class="text-decoration-none">
              <i class='bx bx-sun bx-lg' ></i>
              <p class="text-primary"><b>Summer<br>Programs</b></p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
