<section id="events" class="container my-3 my-xl-5">
  <h2 class="d-block mb-4 section-title position-relative"><b>Next Events</b></h2>
  <div class="container my-2 my-lg-3 my-lg-5 d-flex flex-wrap flex-lg-nowrap">
    <div class="d-flex justify-content-center align-item-center flex-column bg-green col-6 col-lg-3 position-relative mx-0 mx-lg-2">
      <img src="assets/images/event-1.jpg" class="img-fluid w-100">
      <div class="p-2">
        <div>
          <p class="text-light"><u>Concert</u></p>
          <p class="text-light col-10 mb-1 w-100 text-truncate"><b>Yale Summer Break Concert</b></p>
          <p class="text-light mb-1"><b>Friday, 9:00 pm</b></p>
        </div>
        <a href="#" class="text-light text-decoration-none">Link to event >></a>
      </div>
      <div class="d-flex flex-column position-absolute bg-secondary text-center px-2 py-1 top-0 end-0">
        <p class="my-0 text-light fs-6"><b>Oct</b></p>
        <p class="my-0 text-light fs-5"><b>20</b></p>
      </div>
    </div>
    <div class="d-flex justify-content-center align-item-center flex-column bg-indigo col-6 col-lg-3 position-relative mx-0 mx-lg-2">
      <img src="assets/images/event-2.jpg" class="img-fluid w-100">
      <div class="p-2">
        <div>
          <p class="text-light"><u>Festival</u></p>
          <p class="text-light col-10 mb-1 w-100 text-truncate"><b>Medieval Art Festival</b></p>
          <p class="text-light mb-1"><b>Tuesday, 5:00 pm</b></p>
        </div>
        <a href="#" class="text-light text-decoration-none">Link to event >></a>
      </div>
      <div class="d-flex flex-column position-absolute bg-secondary text-center px-2 py-1 top-0 end-0">
        <p class="my-0 text-light fs-6"><b>Oct</b></p>
        <p class="my-0 text-light fs-5"><b>24</b></p>
      </div>
    </div>
    <div class="d-flex justify-content-center align-item-center flex-column bg-orange col-6 col-lg-3 position-relative mx-0 mx-lg-2">
      <img src="assets/images/event-3.jpg" class="img-fluid w-100">
      <div class="p-2">
        <div>
          <p class="text-light"><u>Showroom</u></p>
          <p class="text-light col-10 mb-1 w-100 text-truncate"><b>Modern Sculpture</b></p>
          <p class="text-light mb-1"><b>Wednesday, 12:00 m</b></p>
        </div>
        <a href="#" class="text-light text-decoration-none">Link to event >></a>
      </div>
      <div class="d-flex flex-column position-absolute bg-secondary text-center px-2 py-1 top-0 end-0">
        <p class="my-0 text-light fs-6"><b>Oct</b></p>
        <p class="my-0 text-light fs-5"><b>25</b></p>
      </div>
    </div>
    <div class="d-flex justify-content-center align-item-center flex-column bg-primary col-6 col-lg-3 position-relative mx-0 mx-lg-2">
      <a class="w-100 h-100 d-flex justify-content-center align-items-center text-decoration-none" href="https://www.art.yale.edu/public-events">
        <p class="text-center text-light">
          <b>More Events >></b>
        </p>
      </a>
    </div>
  </div>
</section>
