<section id="community" class="d-flex justify-content-center align-items-center bg-light my-2 my-md-3 my-lg-5 py-4">
  <div class="container my-2 my-lg-3 my-lg-5">
    <h2 class="d-block mb-4 section-title position-relative mx-auto"><b>Community Board</b></h2>
    <div class="container my-2 my-lg-3 my-lg-5">
      <div class="d-flex justify-content-center align-items-center flex-column flex-lg-row">
        <div class="col-lg-6 col-12 align-self-stretch">
          <div id="community-1" class="d-flex justify-content-end align-items-start flex-column community p-3 border align-self-stretch">
            <div class="text-light z-1 details col-10">
              <p><b>Arts and Culture</b></p>
              <p class="w-100 text-truncate">DEI Session: Generational Differences at Yale</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12 align-self-stretch">
          <div class="d-flex justify-content-center align-items-center">
            <div class="col-6 align-self-stretch">
              <div id="community-2" class="d-flex justify-content-end align-items-start flex-column community p-3 border align-self-stretch">
                <div class="text-light z-1 flex col-10">
                  <p><b>Magnus Resch</b></p>
                  <p class="w-100 text-truncate">Free Workshop for Artists to Plan Your Career</p>
                </div>
              </div>
            </div>
            <div class="col-6 align-self-stretch">
              <div id="community-3" class="d-flex justify-content-end align-items-start flex-column community p-3 border align-self-stretch">
                <div class="text-light z-1 flex col-10">
                  <p><b>Arts and Culture</b></p>
                  <p class="w-100 text-truncate">Public Art Tour</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 align-self-stretch">
            <div id="community-4" class="d-flex justify-content-end align-items-start flex-column community p-3 border align-self-stretch">
              <div class="text-light z-1 flex col-10">
                <p><b>MFA Crits</b></p>
                <p class="w-100 text-truncate">MFA Crits in Sculpture</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

