<footer class="bg-secondary d-flex justify-content-between align-items-start flex-column p-4">
  <div class="container d-flex justify-content-lg-center justify-content-lg-between align-items-center align-items-lg-start flex-column flex-lg-row">
    <div class="d-flex justify-content-center align-items-center flex-column text-center">
      <a class="d-flex justify-content-center align-items-center text-decoration-none" href="#home">
        <img class="d-inline-block align-text-top img-fluid pe-3" alt="" width="108" height="120" src="assets/images/logo.png">
        <p class="fs-5 text-light"><b>Yale School of Art</b></p>
      </a>
      <div>
        <ul class="list-unstyled text-start text-light mt-3">
          <li><b>Address:</b></li>
          <li>1156 Chapel Street, POB 208339</li>
          <li>New Haven, Connecticut, 06520-8339</li>
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column text-center">
      <p class="fs-6 text-light text-lg-end text-center w-100"><b>Contact Us</b></p>
      <ul class="list-inline list-unstyled text-start text-light mt-3">
        <li class="list-inline-item">
          <a href="https://www.instagram.com/yaleschoolofart/" class="text-light text-decoration-none"><i class='bx bxl-instagram bx-sm' ></i></a>
        </li>
        <li class="list-inline-item">
          <a href="http://yaleart.org/youtube" class="text-light text-decoration-none"><i class='bx bxl-youtube bx-sm'></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.facebook.com/YaleSchoolofArt/" class="text-light text-decoration-none"><i class='bx bxl-facebook-circle bx-sm' ></i></a>
        </li>
        <li class="list-inline-item"  >
          <a href="https://www.art.yale.edu/about/contact" class="text-light text-decoration-none"><i class='bx bx-envelope bx-sm' ></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-100">
    <p class="text-light my-0 w-100 text-center">© 2023 Yale School of Art</p>
  </div>
</footer>
