<section class="container my-2 my-lg-3 my-lg-5">
  <h2 class="d-block mb-4 section-title position-relative"><b>Our Alumni</b></h2>
  <div class="container my-2 my-lg-3 my-lg-5 d-flex flex-column flex-lg-row">
    <div class="d-flex justify-content-center align-item-center">
      <img src="assets/images/testimonial-1.jpg" class="img-fluid rounded-circle testimonial-img me-2">
      <figure>
        <blockquote class="blockquote">
          <p>A well-known quote, contained in a blockquote element.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          James Frell, <cite title="Source Title">CEO of This Company</cite>
        </figcaption>
      </figure>
    </div>
    <div class="d-flex justify-content-center align-item-center">
      <img src="assets/images/testimonial-2.jpg" class="img-fluid rounded-circle testimonial-img me-2">
      <figure>
        <blockquote class="blockquote">
          <p>A well-known quote, contained in a blockquote element.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Jesica Gloom, <cite title="Source Title">CEO of Them Company</cite>
        </figcaption>
      </figure>
    </div>
    <div class="d-flex justify-content-center align-item-center">
      <img src="assets/images/testimonial-3.jpg" class="img-fluid rounded-circle testimonial-img me-2">
      <figure>
        <blockquote class="blockquote">
          <p>A well-known quote, contained in a blockquote element.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Patrick Jhonson, <cite title="Source Title">CEO of That Company</cite>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
